/* CUSTOM PROPERTY */

:root {
  --standart-seat-color: #03a9f4;
  --vip-seat-color: #8bc34a;
}

/* GLOBAL STYLES */

html {
  height: 100%;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  height: 100%;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: #333d79ff;
}

img {
  max-width: 100%;
  height: auto;
}

/* VISUALLY HIDDEN */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* CONTAINER */

.container {
  max-width: 800px;
  padding-right: 20px;
  padding-left: 20px;
  margin: 60px auto 0;
}

/* TICKET FORM */

.ticket-form {
  background-color: #333333;
  color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
  padding: 20px;
}

.ticket-form-header {
  position: relative;
  z-index: 1;
  padding-right: 50px;
}

.title-wrapper {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.title {
  margin: 0 20px 0 0;
  line-height: 1.2;
}

.badge {
  display: inline-block;
  background-color: #666666;
  border-radius: 5px;
  padding: 5px;
  margin-right: 10px;
}

.cinema-name {
  color: #aaaaaa;
  margin-bottom: 20px;
}

/* TICKET FORM CLOSE */

.ticket-form-close {
  position: absolute;
  z-index: 1;
  top: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  border: 2px solid #ffffff;
  border-radius: 50%;
  background-color: transparent;
  background-image: url("../icon/close-icon.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 80%;
  cursor: pointer;
  opacity: 0.5;
  transition: opacity 0.3s ease;
}

.ticket-form-close:hover,
.ticket-form-close:focus {
  opacity: 1;
}

/* DIVIDER */

.divider {
  height: 1px;
  background-color: #aaaaaa;
  border: none;
  margin: 20px 0;
}

/* CINEMA */

.cinema {
  padding: 0 50px;
}

/* CINEMA-SCREEN */

.cinema-screen {
  display: flex;
  justify-content: center;
}

/* CINEMA-SEATS */

.cinema-seats-list {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

.cinema-seat {
  width: 25px;
  height: 25px;
}

.cinema-seat-wrapper {
  cursor: pointer;
  display: block;
}

.cinema-seat-control {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: var(--standart-seat-color);
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
}

.cinema-vip-seat-wrapper .cinema-seat-control {
  background-color: var(--vip-seat-color);
}

.cinema-seat-control::before {
  content: "";
  position: absolute;
  z-index: 1;
  top: -5px;
  right: -5px;
  bottom: -5px;
  left: -5px;
  border: 1px dotted var(--standart-seat-color);
  border-radius: 50%;
  transform: scale(0);
  opacity: 0;
  transition: border 0.3s ease, transform 0.3s ease, opacity 0.3s ease;
}

.cinema-vip-seat-wrapper .cinema-seat-control::before {
  border: 1px dotted var(--vip-seat-color);
}

.cinema-seat-number {
  opacity: 0;
  transition: opacity 0.3s ease;
}

.cinema-seat-checkbox:focus + .cinema-seat-control::before {
  transform: scale(1);
  opacity: 1;
}

.cinema-seat-checkbox:focus + .cinema-seat-control .cinema-seat-number {
  opacity: 1;
}

.cinema-seat-wrapper:hover .cinema-seat-control::before {
  border: 1px solid var(--standart-seat-color);
  transform: scale(1);
  opacity: 1;
}

.cinema-vip-seat-wrapper:hover .cinema-seat-control::before {
  border: 1px solid var(--vip-seat-color) !important;
}

.cinema-seat-wrapper:hover .cinema-seat-number {
  opacity: 1;
}

.cinema-seat-wrapper:active {
  opacity: 0.5;
}

.cinema-seat-checkbox:checked + .cinema-seat-control:before {
  border: 3px solid var(--standart-seat-color);
  transform: scale(1);
  opacity: 1;
}

.cinema-vip-seat-wrapper
  .cinema-seat-checkbox:checked
  + .cinema-seat-control:before {
  border: 3px solid var(--vip-seat-color);
}

.cinema-seat-checkbox:checked + .cinema-seat-number {
  opacity: 1;
}

.cinema-seat-checkbox:disabled + .cinema-seat-control {
  background-color: #cccccc;
}

.cinema-seat-checkbox:disabled + .cinema-seat-control::before {
  transform: scale(0);
  opacity: 0;
}

.cinema-seat-checkbox:disabled + .cinema-seat-control .cinema-seat-number {
  opacity: 1;
}
